<div class="row" id="top-row">
  <div class="col-md-3 col-sm-2">
  </div>
  <div class='col-md-6 col-sm-8'>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Confirm your order</h3>
      </div>
      <div class="panel-body">

        <div class="tree-display <%= @order.tree.type.name.downcase %>" id="tree-display">
          <div class="tree-icons">
            <i class="fa fa-tree fa-3x" id="tree-icon"><%= @order.tree.height.to_s + " ft. " + @order.tree.type.name %></i>
          </div>
        </div>
        <br>
        <h3>Deliver To:</h3>
        <p class="tab">
          <%= @order.name %>
          <br>
          <%= @order.email %>
          <br>
          <%= @order.address %>
          <br>
          <%= @order.city + ", " + @order.state + ", " + @order.zipcode %>
        </p>

      </div>
      <ul class="list-group">
        <% @accessories.each do |a| %>
          <li class="list-group-item">
            <p class="tab">
              <%= a.name %><br>
              <%= a.description %><br>
              <%= "$" + a.price.floor.to_i.to_s %>
            </p>
          </li>
        <% end %>
        <% if @order.instructions.present? %>
          <li class="list-group-item">
            <h4>Instructions:</h4>
            <p class="tab"><%= @order.instructions %></p>
          </li>
        <% end %>
        <li class="list-group-item">
          <h4 class="tab">Tree: <%= @order.tree.height.to_s + "ft. " + @order.tree.type.name + " $" + @order.tree.price.floor.to_i.to_s %></h4>
        </li>
        <li class="list-group-item">
          <h3 class='price-h3'>Total: <%= "$" + @total.floor.to_i.to_s %></h3>
          <div class='text-right'>
            <%= simple_form_for @order, url: orders_path(accessory_orders: @accessories.map { |a| a.id }) do |f| %>
              <%= f.input :tree_id, as: :hidden %>
              <%= f.input :name, as: :hidden %>
              <%= f.input :email, as: :hidden %>
              <%= f.input :phone, as: :hidden %>
              <%= f.input :address, as: :hidden %>
              <%= f.input :city, as: :hidden %>
              <%= f.input :state, as: :hidden %>
              <%= f.input :zipcode, as: :hidden %>
              <%= f.input :window_id, as: :hidden %>
              <%= f.input :instructions, as: :hidden %>
              <%= f.submit 'Confirm', class: 'btn btn-success' %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
    <br>
  </div>

  <div class="col-md-3 col-sm-2">
  </div>
</div>

<%= render 'onetwothree' %>

<%= render 'balsam_fraser' %>
