<div class="container">
  <br>
  <div class="row" id="top-row">
    <div class="col-md-3 col-xs-1 col-sm-2">
    </div>
    <div class="col-xs-10 col-sm-8 col-md-6 text-center zip-search white">
      <div class="zip-search-center">
        <h3>Premium Trees Delivered <br>
          To Your Front Door</h3>
        <%= simple_form_for :zipcode_search,  url: zipcode_search_orders_path , method: :get, html: { class: 'form-inline', } do |f| %>
          <%= f.input_field :zipcode,
                      autofocus: true,
                      class: 'form-control',
                      label: false,
                      placeholder: 'Enter your Zip Code!' %>
          <br class="hidden-sm hidden-md hidden-lg">
          <%= f.submit "Submit", class: 'btn btn-success' %>
        <% end %>
        <br>
      </div>
    </div>
    <div class="col-md-3 col-xs-1 col-sm-2">
    </div>
  </div>

  <br>
  <br>
</div>

<%= render "onetwothree" %>

<%= render "balsam_fraser" %>
