<%= content_tag :div, "", id: 'available_trees', data: { trees: @trees.to_json } %>
<%= content_tag :div, "", id: 'accessories', data: { accessories: @accessories.to_json } %>

<div class="container">
   <div class="row" id='top-row'>
    <div class="col-md-2 col-sm-2 hidden-xs">
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <br>
      <div class="well">
        <h1>Choose your variety</h1>
        <br>
        <%= simple_form_for @order, url: confirm_orders_path do |f| %>
          <% if @order.errors.any? %>
            <ul>
              <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          <% end %>

          <div class="form-inputs">
            <%= f.input :tree_id,
                        required: true,
                        collection: @available_trees,
                        selected: @available_trees.first,
                        label: false,
                        input_html: { class: 'form-control'} %>
                        <br>
            <div class="tree-display display-none" id="tree-display">
              <div class="tree-icons">
                <i class="fa fa-tree fa-3x" id="tree-icon"></i>
              </div>
            </div>
            <br>
            <%= f.input :name,
                        required: true,
                        label: false,
                        placeholder: 'Full Name (required)',
                        input_html: { class: 'form-control'} %>
                        <br>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <%= f.input :email,
                            required: true,
                            label: false,
                            placeholder: 'Email (required)',
                            input_html: { class: 'form-control'} %>
                            <br>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-6">
                <%= f.input :phone,
                            required: true,
                            label: false,
                            placeholder: 'Phone Number with area code (required)',
                            input_html: { class: 'form-control'} %>
                            <br>
              </div>
            </div>
            <%= f.input :address,
                        required: true,
                        label: false,
                        placeholder: 'Address (required)',
                        input_html: { class: 'form-control'} %>
                        <br>
            <div class="row">
              <div class="col-md-6 col-sm-5 col-xs-5">
                  <% if @city.nil? %>
                    <%= f.input :city,
                                required: true,
                                label: false,
                                placeholder: 'City (required)',
                                input_html: { class: 'form-control'} %>
                                <br>
                  <% else %>
                    <%= f.input :city,
                                required: true,
                                label: false,
                                readonly: true,
                                input_html: { class: 'form-control', value: @city} %>
                                <br>
                  <% end %>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-3">
                  <% if @state.nil? %>
                    <%= f.input :state,
                                required: true,
                                label: false,
                                placeholder: 'State (required)',
                                input_html: { class: 'form-control'} %>
                                <br>
                  <% else %>
                    <%= f.input :state,
                                required: true,
                                label: false,
                                readonly: true,
                                input_html: { class: 'form-control', value: @state} %>
                                <br>
                  <% end %>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                <%= f.input :zipcode,
                            required: true,
                            readonly: true,
                            label: false,
                            input_html: { class: 'form-control', value: @zip} %>
                            <br>
              </div>
            </div>
            <%= f.input :accessory_orders,
                        multiple: true,
                        label: 'Available Accessories',
                        collection: @accessories,
                        label_method: Proc.new { |a| "$" + a.price.to_i.to_s + " " + a.name + ": " + a.description},
                        as: :check_boxes,
                        checked: params[:accessory_orders],
                        input_html: { class: 'accessories' } %>
                        <br>
            <h3>When would you like your tree delivered?</h3>
            <%= f.input :window_id,
                        required: true,
                        label: false,
                        collection: @windows,
                        selected: @windows.first,
                        label_method: :delivery_window,
                        input_html: { class: 'form-control'} %>
                        <br>
            <%= f.input :instructions,
                        placeholder: 'Special Delivery Instructions',
                        label: false,
                        input_html: { class: 'form-control' } %>
                        <br>
          </div>

          <h3 id='price'>Total: </h3>
          <br>

          <div class="form-actions">
            <%= f.button :submit, "Submit Order!", class: "btn btn-lg btn-block btn-success" %>
          </div>
        <% end %>
      </div>
      <br>
    </div>
    <div class="col-md-2 col-sm-2 hidden-xs">
    </div>
  </div>
</div>

<%= render "onetwothree" %>

<%= render "balsam_fraser" %>
