<div class="row" id="top-row">
  <div class="col-md-3 col-sm-2">
  </div>
  <div class='col-md-6 col-sm-8'>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Order Processed!</h3>
      </div>
      <div class="panel-body">

        <div class="tree-display <%= @order.tree.type.name.downcase %>" id="tree-display">
          <div class="tree-icons">
            <i class="fa fa-tree fa-3x" id="tree-icon"><%= @order.tree.height.to_s + " ft. " + @order.tree.type.name %></i>
          </div>
        </div>

      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h3><i class="fa fa-tree"></i> What now?</h3>
          <h5 class="tab">You will be called within 24 hours to set up delivery</h5>
          <h3><i class="fa fa-tree"></i> How do I pay?</h3>
          <h5 class="tab">Pay by cash on delivery</h5>
        </li>
        <li class="list-group-item">
          <br>
          <h3>Deliver To:</h3>
          <p class="tab">
            <%= @order.name %>
            <br>
            <%= @order.email %>
            <br>
            <%= @order.address %>
            <br>
            <%= @order.city + ", " + @order.state + ", " + @order.zipcode %>
          </p>
          <% @accessories.each do |a| %>
            <p class="tab">
              <%= a.name %><br>
              <%= a.description %><br>
              <%= "$" + a.price.floor.to_i.to_s %>
            </p>
          <% end %>
          <% if @order.instructions.present? %>
            <h4>Instructions:</h4>
            <p class="tab"><%= @order.instructions %></p>
          <% end %>
          <h4 class="tab">Tree: <%= @order.tree.height.to_s + "ft. " + @order.tree.type.name + " $" + @order.tree.price.floor.to_i.to_s %></h4>
        </li>
        <li class="list-group-item">
          <h3 class='price-h3'>Total: <%= "$" + @total.floor.to_i.to_s %></h3>
        </li>
      </ul>
    </div>
    <br>
  </div>

  <div class="col-md-3 col-sm-2">
  </div>
</div>

<%= render 'onetwothree' %>

<%= render "layouts/faq" %>

<%= render 'balsam_fraser' %>
