<div class="row" id="top-row">
  <div class="col-md-3">
  </div>
  <div class='col-md-6'>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @order.name %></h3>
      </div>
      <div class="panel-body">

        <div class="tree-display <%= @order.tree.type.name.downcase %>" id="tree-display">
          <div class="tree-icons">
            <i class="fa fa-tree fa-3x" id="tree-icon"><%= @order.tree.height.to_s + " ft. " + @order.tree.type.name %></i>
          </div>
        </div>
        <br>
        <h3>Deliver To:</h3>
        <p class="tab"><%= @order.address %>
        <br>
        <%= @order.city + ", " + @order.state + ", " + @order.zipcode %>
        <br>
        <%= @order.tree.price %></p>

      </div>
      <ul class="list-group">
          <% @order.accessories.each do |a| %>
            <li class="list-group-item">
              <p class="tab">
                <%= a.name %><br>
                <%= a.description %><br>
                <%= a.price %>
              </p>
            </li>
          <% end %>
        </ul>
    </div>
    <br>
  </div>

  <div class="col-md-3">
  </div>
</div>

<%= render 'onetwothree' %>

<%= render 'balsam_fraser' %>
