<div class='row'>
  <div class='col-md-12'>
    <br>
    <div class='panel panel-tree'>
      <div class="panel-heading">Messages</div>
      <div class='panel-body'>
        <div>
          <table class="table">
              <thead>
                <tr>
                  <th>Submitted</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Message</th>
                  <th>Read?</th>
                </tr>
              </thead>
              <tbody>
              <% @contacts.each_with_index do |c, index| %>
                <tr>
                  <td><%= c.created_at.to_date.strftime('%m/%d/%y') %></td>
                  <td><%= c.name %></td>
                  <td><%= c.email %></td>
                  <td><%= c.phone %></td>
                  <td><%= c.message %></td>
                  <td>
                    <%= link_to read_contacts_path(id: c.id), data: { confirm: "Are you sure?" }, method: :post, class: 'btn btn-success' do %>
                      <i class="fa fa-check"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <br>
    <div class='panel panel-tree'>
      <div class="panel-heading">Read Messages</div>
      <div class='panel-body'>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Submitted</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Message</th>
                <th>Mark Unread?</th>
              </tr>
            </thead>
            <tbody>
              <% @read.each_with_index do |c, index| %>
                <tr>
                  <td><%= c.created_at.to_date.strftime('%m/%d/%y') %></td>
                  <td><%= c.name %></td>
                  <td><%= c.email %></td>
                  <td><%= c.phone %></td>
                  <td><%= c.message %></td>
                  <td>
                    <%= link_to unread_contacts_path(id: c.id), data: { confirm: "Are you sure?" }, method: :post, class: 'btn btn-primary' do %>
                      <i class="fa fa-check"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
