<div class='row'>
  <div class='col-md-12'>
    <br>
    <div class='panel panel-tree'>
      <div class="panel-heading">Accessories</div>
      <div class='panel-body'>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Name (click to edit)</th>
                <th>Description (click to edit)</th>
                <th>Price (click to edit)</th>
                <th class="text-right">Remove?</th>
              </tr>
            </thead>
            <% @accessories.each_with_index do |a, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= best_in_place a, :name, url: accessory_path(id: a.id), as: :input %></td>
                <td><%= best_in_place a, :description, url: accessory_path(id: a.id), as: :textarea %></td>
                <td>$<%= best_in_place a, :price, url: accessory_path(id: a.id), as: :input %></td>
                <td class="text-right">
                  <%= link_to accessory_path(a), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' do %>
                    <i class="fa fa-trash-o "></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td colspan="5">
                <table width="100%">
                  <%= simple_form_for @new_accessory do |f| %>
                    <tr>
                      <td>New</td>
                      <td>
                        <%= f.input :name,
                                    label: false,
                                    required: true,
                                    placeholder: 'Name',
                                    input_html: { class: 'form-control'} %>
                      </td>
                      <td>
                        <%= f.input :description,
                                    label: false,
                                    placeholder: 'Description',
                                    required: true,
                                    input_html: { class: 'form-control'} %>
                      </td>
                      <td>
                        <%= f.input :price,
                                    label: false,
                                    placeholder: 'Price (29.99)',
                                    required: true,
                                    input_html: { class: 'form-control'} %>
                      </td>
                      <td class="text-right">
                        <%= f.submit 'Create Accessory', class: 'btn btn-success' %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
