<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for Contact.new, url: contacts_path, remote: true, html: { id: :contacts } do |f| %>
          <%= f.input :name,
                      required: true,
                      input_html: { class: 'form-control'} %>
          <%= f.input :email,
                      required: true,
                      input_html: { class: 'form-control'} %>
          <%= f.input :phone,
                      input_html: { class: 'form-control'} %>
          <%= f.input :message,
                      required: true,
                      input_html: { class: 'form-control'} %>
      </div>
      <div class="modal-footer">
          <%= f.submit 'Find Placements', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
